[submodule "bundle/VimClojure"]
	path = bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
	ignore = untracked
[submodule "bundle/slimv"]
	path = bundle/slimv
	url = https://github.com/vim-scripts/slimv.vim.git
	ignore = untracked
